<!DOCTYPE html>
<html>
	<head>
		<title>Software Developer</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
    
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About Me</a></li>
			      <li><a href="/cl">Cover Letter</a></li>
			      <li><a href="/theparty">The Party</a></li>
        		
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    		
		</div>
		<footer>
    		<ul>
			      <li><a href="mailto:tadams29@mail.depaul.edu">Email</a></li> 
			</br>
        		<li><a href="https://github.com/Adams-Developer">Github</a></li>
			
		</ul>
		</footer>
	</body>
</html>
